%h3 Регистрация

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.input :email, required: true, autofocus: true
  = f.input :password, required: true
  = f.input :password_confirmation, required: true
  = f.button :submit, 'Зарегистрироваться', class: 'btn btn-success'