-flash.each do |key, value|
  = content_tag :div, value, class: "alert alert-#{flash_class(key)} alert-dismissable" do
    %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'alert', type: 'button'} ×
    = value