.row
  .col-md-9
    .row
      -@documents.each do |f|
        .col-md-3.file-block
          .thumb
            = link_to file_tag(f), document_path(f), data: {modal: true}
          .size
            = number_to_human_size(f.file.file.size)
          .title
            = link_to truncate(f.title, length: 40), document_path(f), data: {modal: true}
  .col-md-3
    = render 'documents/tags'