= simple_form_for @document, html: {multipart: true, id: 'fileupload'} do |f|
  = f.input :title
  = f.input :tag_list
  -#= f.input_field :file
  -#= f.button :submit, 'Сохранить'

  .fileupload-buttonbar
    %span.btn.btn-sm.btn-success.fileinput-button
      %i.glyphicon.glyphicon-plus
      %span Добавить файл
      = f.file_field :file, id: 'upload-field'
    %button.btn.btn-sm.btn-primary.start{type: 'submit'}
      %i.glyphicon.glyphicon-floppy-save
      %span Сохранить
    %span.fileupload-loading
  %table.table.table-striped{role: 'presentation'}
    %tbody.files

/ The template to display files available for upload
%script#template-upload{type: 'text/x-tmpl'}
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  %tr.template-upload.fade
    %td.preview
      %span.fade
    %td.name
      %span {%=file.name%}
    %td.size
      %span {%=o.formatFileSize(file.size)%}
    {% if (file.error) { %}
    %td.error{colspan: '2'}
      %span.label.label-important Ошибка
      {%=locale.fileupload.errors[file.error] || file.error%}
    {% } else if (o.files.valid && !i) { %}
    %td
      .progress
        .progress-bar.progress-bar-success
    %td.start{style: 'display: none'}
      {% if (!o.options.autoUpload) { %}
      %button.btn.btn-sm.btn-primary
        %i.glyphicon.glyphicon-upload
        %span Сохранить
      {% } %}
    {% } else { %}
    %td{colspan: '2'}
    {% } %}
    %td.cancel
      {% if (!i) { %}
      %button.btn.btn-sm.btn-warning
        %i.glyphicon.glyphicon-ban-circle
        %span Отмена
      {% } %}
  {% } %}
/ The template to display files available for download
%script#template-download{type: 'text/x-tmpl'}
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  %tr.template-download.fade
    {% if (file.error) { %}
    %td
    %td.name
      %span {%=file.name%}
    %td.size
      %span {%=o.formatFileSize(file.size)%}
    %td.error{colspan: '2'}
      %span.label.label-important Ошибка
      {%=locale.fileupload.errors[file.error] || file.error%}
    {% } else { %}
    %td.preview
      {% if (file.thumbnail_url) { %}
      %a{download: "{%=file.name%}", href: "{%=file.url%}", rel: 'gallery', title: "{%=file.name%}"}
        %img{src: "{%=file.thumbnail_url%}"}/
      {% } %}
    %td.name
      %a{download: "{%=file.name%}", href: "{%=file.url%}", rel: 'gallery', title: "{%=file.name%}"} {%=file.name%}
    %td.size
      %span {%=o.formatFileSize(file.size)%}
    %td{colspan: '2'}
    {% } %}
    %td.delete
      %button.btn.btn-sm.btn-danger{"data-type" => "{%=file.delete_type%}", "data-url" => "{%=file.delete_url%}"}
        %i.glyphicon.glyphicon-trash
        %span Удалить
      %input{name: 'delete', type: 'checkbox', value: '1'}
  {% } %}