.well
  %h4 Профиль
  #profile
    %p
      %strong Электронная почта:
    %p
      = current_user.email
    %p
      %strong Кол-во загруж. файлов:
    %p
      = current_user.documents.count
    %p
      %strong Последний раз заходил в:
    %p
      = current_user.last_sign_in_at