= content_for :title, @document.title.titleize

.modal-body
  %p
    = file_tag @document, 'center-block show-file'
  %p
    = icon('user')
    = @document.user.email
  %p
    = icon('calendar')
    = @document.created_at
  %p
    = icon('floppy-disk')
    = number_to_human_size(@document.file.file.size)
  %p
    = link_to icon('download') + ' Скачать', @document.file_url

.modal-footer
  %button.btn.btn-sm.btn-danger{'data-dismiss' => 'modal', type: 'button'} Закрыть