%h3 Войти

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
	= f.error_notification
	= f.input :email, required: false, autofocus: true
	= f.input :password, required: false

	= f.button :submit, 'Войти', class: 'btn btn-success'