body
  padding-top: 65px
  h3
    margin-top: 10px
  .breadcrumb
    margin-bottom: 15px

  .fileupload-buttonbar
    margin-bottom: 10px

  .file-block
    .thumb
      margin: 0 0 5px 0
    .size
      right: 23px
      background-color: #000000
      font-size: 11px
      position: absolute
      top: 120px
      color: #ffffff
      padding: 0 3px
    .title
      margin: 0 0 5px 0
  .show-file
    max-width: 568px
  #tag_cloud
    line-height: 1.6em
    .s
      font-size: 0.8em
    .m
      font-size: 1.2em
    .l
      font-size: 1.8em
