.navbar.navbar-fixed-top.navbar-inverse{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#{root_url}"} Loader
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = nav_link icon('home') + ' Главная', root_url
        -if user_signed_in?
          = nav_link icon('list') + ' Мои файлы', documents_path
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li
            = link_to icon('upload') + ' Загрузить', new_document_path
          %li
            = link_to icon('off') + ' Выйти', destroy_user_session_path, data: {method: :delete}, title: 'Выйти'
        -else
          %li
            = link_to icon('log-in') + ' Регистрация', new_user_registration_path, title: 'Регистрация'
          %li
            = link_to icon('log-in') + ' Войти', new_user_session_path, title: 'Войти'