!!!
%html
  %head
    %title Loader
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
  %body
    = render 'layouts/header'
    .container
      = render 'shared/breadcrumbs'
      = render 'shared/flash', flash: flash
      = yield
    #modal-holder